@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');

/* font-family: 'DotGothic16', sans-serif; */

@font-face{
	font-family: DotGothic16;
	src: url(https://fonts.googleapis.com/css2?family=DotGothic16&display=swap);
}

a{
	text-decoration: none;
	color: coral;
}

.container-fluid{
    background: #00439c; 

}

/* .btn{
    background-color:#2660A4; 
    border: #2660A4; 
    margin: -10px;
    color: #fff;
} */

.buttoncss {
	background-color: #bdc2bf;
	border: 1px solid #bdc2bf;
	color: seashell;
	display: inline-block;
	margin-top: auto;
}

/*指定變形變色*/
.buttoncss:focus {
	background-color: coral;
	border-color: #ffffff;
	color: seashell;
	/* width: 280px; */
	transition: 0.5s;
}

.buttoncss:hover {
	background-color: #737373;
	color: ivory;
	transition: 0.5s;
	border-color: #bdc2bf;
}

html, body {
    /* 設定body高度為100% 拉到視窗可視的大小 */
    height: 100%;
}
#id_wrapper {
    /* 設定高度最小為100%, 如果內容區塊很多, 可以長大 */
    min-height: 100%;
    /* 位置設為relative, 作為footer區塊位置的參考 */
    position: relative;
}
#id_header {
    /* 設定header的高度 */
    min-height: 78px;
    box-sizing: border-box;
}
#id_content {
    /* 留出header及footer區塊的空間 */
    padding-bottom: 100px;
}


.footer{
    height: 100px;
    margin-top: 2px;
    /* z-index: 999999999999999;  */
    box-sizing: border-box;
    /* 設定footer絕對位置在底部 */
    position: absolute;
    bottom: 0;
    /* 展開footer寬度 */
    width: 100%;
}

.inner{
    background: #FFFF82;
}

/* 版權字樣 */
.copyright-text {
    padding-top: 8px;
    color: #676968;
    background-color: #fff;
}

.copyright-text a:hover {
    text-decoration: underline;
}

.cart_icon{
    display: grid;
    grid-template-columns: 70% 1fr;
    grid-template-rows: 1fr;
    /* border: 1px solid red; */
    margin: 10px 10% 0;
}


/* 網格 */
.product_detail{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr ;
    /* border: 1px dashed #BDC2BF; */
    /* 上右下左 */
    margin: 0px 10% 0 10%;   

}
.breadcrumb_1{
    grid-column: 1/1;
    grid-row: 1/2;
}
/* 麵包屑前兩個 */
.breadcrumb_1 nav ol li a{
    color: #fff;

}
/* 麵包屑當前頁面 */
.breadcrumb_1 nav ol :last-child{
    color: #fff;
}


/* 主要商品圖 */
.main_img{
    grid-row: 1/2;
    grid-column: 1/2;
    margin-top: 5%;
    margin-left: 5%;
}

.game_title{
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 5%;
    margin-left: 5%;
}

.game_title ul{
    color: #fff;
}
/* 商品描述區塊 */
.product_detail_1{
    display: grid;
    border: 1px dashed #BDC2BF;
    margin: 5% 10%;
    grid-row: 2/3;
    grid-column: 1/3;
}
/* 商品描述文字 */
.product_detail_1 h5, .product_detail_1 p{
    margin: 20px;
    color: #fff;
    font-size: 1.25rem;
}
.product_price{
    color: #fff;
}



/* 按鈕 */
.btn{
    /* background-color:#00439c; 
    margin: -10px;
    color: #fff; */
    border: none;
    /* box-shadow: none; */
}

.btn-primary:focus {
    box-shadow: none;
}

.btn-primary:active {
    box-shadow: none;
}
/* end 按鈕 */

/* 會員註冊 */
.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
}

.wrapper .table{
    grid-row: 1/2;
    grid-column: 2/3;
    margin: 20% 0 25% 0;
}

legend{
    text-align: center;
    margin-top: 3%;
}

.member_insert{
    display: grid;
    grid-column: 1/2;
    grid-column: 2/3;
    margin: 3% 0 3% 0;
}

fieldset{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    /* border: 1px solid red; */
}

.form-control:first-child{
    display: inline-block;
    width: 49%;
}

.form-control:nth-child(2){
    display: inline-block;
  width: 49%;
  margin-left: 2%;
}

    
