body{
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position:center;
    background-size:700px;
    background-position:20%20%;
}

.forget-center{
    display: flex;
    justify-content: center; 
        margin-top: 10%;
}

.forget{
	width: 400px ;
    background-color: #125199 ;
    color: #f8f9fa;
    padding: 40px;
    box-shadow: 10px 10px 10px #000000;
    text-align: center;

    margin-top: 7%;
    margin-bottom: 5%;
}
.joinus{
	font-size:32px;
    line-height:100px;
    text-align: center; 
    vertical-align: middle; 
    line-height:100px;
}

.forget input{
    display:block;
    margin: 20px auto;
    padding: 6px;
    border-radius: 10px; /*框角圓滑*/
    outline: none;
    color: #0c2c01; /*輸入字顏色*/
} 

/*輸入框*/
.forget input[type="password"]{
	margin:auto;
    border:2px solid #0a51af;
    width: 220px;
}
/*送出鈕*/
.forget input[type="submit"]{
    border: 2px solid #3cff00;
    cursor: pointer; /*滑鼠手指化*/
}

/*指定變形變色*/
.forget input[type="password"]:focus{
    border-color: #3cff00;
    width: 280px;
    transition: 0.5s;
}
/*按鈕閃爍*/
.forget input[type="submit"]:hover{
    background-color: #2ecc71;
    transition: 0.5s;
}